<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<style>
html{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
}

.pic-display{
width: 150px;
height: 150px;
}


a{
text-decoration: none;
}
a:visited{
  color: black;
}
a:hover{
  color: aquamarine;
}
.tag:hover{
  color: aquamarine;
  outline-width: thin;
  outline-style: dotted;
  font-size: 1.3em;
  outline-color: black;
}
</style>
<script>
$(".tag").click(function(){
  console.log("hello");
console.log($(this).attr("class"));
});

</script>
<body>
<h1><a href="/">mercer.</a></h1>

<h2> here's a bunch of photos you've liked recently </h2>
<center>
{% for pic in relevant_data['clara_user']['media_tags'] %}

<a href="{{pic['url']}}"><img class="pic-display" src="{{pic['url']}}"></img></a>
<br><div style="display: block; font-size: 1.2em; max-width: 25%; padding-bottom:1em">{%for tag in pic.tags%}
<span class="tag {{tag}}">{{tag}}</span>
{%endfor%}
<br>
</div>

{% endfor %}

<h2> here's a bunch of photos that are popular right now </h2>
{% for pic in relevant_data['popular'] %}

<a href="{{pic}}"><img class="pic-display" src="{{pic}}"></img></a>
{% endfor %}
</center>
</body>
</html>
