<!DOCTYPE html>
<html>
<head>
</head>

<style>
html{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
}

.pic-display{
width: 150px;
height: 150px;
}


a{
text-decoration: none;
}
a:visited{
  color: black;
}
a:hover{
  color: aquamarine;
}
</style>

<body>
<h1><a href="/">mercer.</a></h1>

<h2> here's a bunch of photo's you've liked recently </h2>
<center>
{% for pic in final_media %}

<img class="pic-display" src="{{pic}}"></img>

{% endfor %}
</center>
</body>
</html>
